
.navbar {
    background-color: rgb(89, 144, 93);
}

.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.55);
    font-size: 1rem;
    padding-top: .45rem;
}

.jumbotron {
    background-color: rgba(109, 120, 107, 0.95);
    background-size: cover;
}

#icons {
    font-size: 3rem;
    color: rgb(85, 245, 77)
}

#icons:hover {
    color: rgb(59, 124, 56)
}

#icons2 {
    font-size: 3rem;
    color: rgb(59, 124, 56)
}

#icons2:hover {
    color: rgb(85, 245, 77)
}

.btn, .active {
    transition: .4s;
}


@media (max-width: 600px) {
    .jumbo{
        font-size: 2rem;
    }
    #icons {
        font-size: 2rem;
    }
}

/*@media (max-width: 1200px) {
    .jumbo{
        font-size: 2rem;
    }
}*/

#nola {
    max-height: 400px;
}
